/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

/* Title */
h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

/* Sentence Container */
.sentence-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

/* Sentence */
#sentence {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin-right: 10px;
}

/* Refresh Button */
#refreshButton {
  background-color: #03dac6;
  border: none;
  color: #121212;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

#refreshButton:hover {
  background-color: #018786;
}

/* Input Field */
#inputField {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  background-color: transparent;
  color: #b0b0b0;
  border: 2px solid #b0b0b0; /* Light grey border */
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

#inputField::placeholder {
  color: #757575;
}

/* Input Field Focused */
#inputField:focus {
  border-color: #03dac6;
}

/* Message Text */
#message {
  margin-top: 1.5rem;
  color: #b0b0b0;
  font-size: 1rem;
}