* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans', sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

/* Title */
h1 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1.5rem;
}

.sentence-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

#sentence {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4a4a4a;
  margin-right: 10px;
}

#refreshButton {
  background-color: transparent;
  border: none;
  color: #4a4a4a;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

#refreshButton:hover {
  color: #000000;
}

#inputField {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  background-color: #f0f0f0;
  color: #000000;
  border: none;
  border-radius: 60px;
  outline: none;
}

#inputField::placeholder {
  color: #757575;
}

#message {
  margin-top: 1.5rem;
  color: #4a4a4a;
  font-size: 1rem;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  #sentence, #message {
    font-size: 1rem;
  }

  #inputField {
    padding: 10px;
    font-size: 1rem;
  }
}
